.timeline {
    margin: 90px auto;
    width: 360px;
    border-left: 2px solid lightgray;
    padding: 0 20px 0 30px;
}

.line {
    background-color: white;
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid lightgrey;
    line-height: 1.7;
    position: relative;
    height: 110px;
    margin-bottom: 20px;
}
.line::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    border: 3px solid lightgray;
    position: absolute;
    top: 10px;
    left: -40px;
}

.line::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent lightgray transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}

h2{
    margin: 0;
}
h3{
    margin: 0;
}
h4 {
    margin: 0;
}